@font-face {
    font-family: 'Muli-Bold';
    src: url('./../assets/fonts/Muli-Bold.woff') format("woff");
}

@font-face {
    font-family: 'Muli-ExraBold';
    src: url('./../assets/fonts/Muli-ExtraBold.woff') format("woff");
}

@font-face {
    font-family: 'Muli-ExtraBoldItalic.woff';
    src: url('./../assets/fonts/Muli-ExtraBoldItalic.woff') format("woff");
}

@font-face {
    font-family: 'Muli-Regular.woff';
    src: url('./../assets/fonts/Muli-Regular.woff') format("woff");
}


@font-face {
    font-family: 'Poppins-Medium.ttf';
    src: url('./../assets/fonts/Poppins-Medium.ttf') format("ttf");
}

@font-face {
    font-family: 'Poppins-SemiBold.ttf';
    src: url('./../assets/fonts/Poppins-SemiBold.ttf') format("ttf");
}

html,
body {
    font-family: "Muli-Bold"sans-serif;
    width: 100%;
}

.burger_icon {
    position: absolute;
    width: 50px;
    height: 50px;
    cursor: pointer;
    background: url(/assets/icons/burger.svg);
    background-size: contain;
    display: none;
    margin: 15px;
}

.close_icon {
    position: absolute;
    cursor: pointer;
    right: 0;
    width: 50px;
    height: 50px;
    background: url(/assets/icons/Close_burger.svg) no-repeat center;
    background-size: contain;
    margin: 15px;
}

.burger__menu {
    background-color: #0aa566;
    width: 200px;
    height: 100vh;
    position: fixed;
    z-index: 9;
    top: 0;
    transition: left ease 0.3s;
    left: -200px;
}

.burger_menu_active {
    left: 0;
    width: 100%;
}



.list {
    list-style-type: none;
}


.header {
    background: url(/assets/images/header-bg-img.png) no-repeat;
    height: 100vh;
    background-position: center;
    background-size: cover;
}

.header__list{
    display: flex;
}

.header__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 85px 100px;
}

.header__logo{
    position: absolute;
    top: 70px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}
.socialmedia{
    display: flex;
    justify-content: space-between;
    width: 420px;
    align-items: center;
}

.header__list:nth-child(1){
    margin-left: 0px;
}

.header__list {
    display: flex;
    justify-content: space-between;
    width: 540px;
    height: 11px;
}

.header__item {
    font-family: 'Muli-Bold';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 20;
    margin: 0px 16px;
}


.header__link {
    color: rgb(255, 255, 255);
    text-transform: uppercase;
}


.personal__list {
    display: flex;
}


.personal__list::after {
    content: url(/assets/images/Linesmall.png);
    position: absolute;
    right: 270px;
}

.personal__item {
    margin-right: 45px;
}

.persona__item--active{
    position: relative;
}

.link__shop-count {
    position: absolute;
    bottom: 23px;
    left: 20px;
    color: #000000;
    background-color: #fff;
    min-width: 18px;
    text-align: center;
    border-radius: 50%;
    font-style: italic;
    font-size: 13px;
}


.header__content {
    display: flex;
    justify-content: center;
    margin-bottom: 765px;
}

.btn {
    height: 60px;
    width: 280px;
    border-radius: 35px;
    color: #ffffff;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    -ms-border-radius: 35px;
    -o-border-radius: 35px;
    border-style: none;
}

.text {
    color: #000000;
}

.header__btn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    height: 70px;
    font-family: 'Muli-Regular', sans-serif;
    font-size: 24px;
}

.btn--green {
    background-color: #0aa566;
}


.socials__list {
    display: flex;
}

.socials__item {
    background-color: #ffffff;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 5px 0;
}

.about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.about__title {
    font-size: 50px;
    font-family: 'Muli-ExraBold';
    font-weight: 900;
    line-height: 40px;
    margin-top: 95px;
    margin-bottom: 50px;
}

.title--yellow {
    color: #f7ae3b;
}

.about__sub-title {
    font-family: 'Muli-ExraBold', sans-serif;
    color: #f2612d;
    font-size: 25px;
    text-align: center;
}

.text__about {
    max-width: 915px;
    text-align: center;
    font-size: 18px;
    font-family: 'Muli-Regular';
    line-height: 35px;
    margin-bottom: 35px;
}

.about__features {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 1010px;
    height: 385px;
    margin-top: 30px;
    margin-bottom: 115px;

}

.about__name {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.about__icon {
    width: 72px;
    height: 72px;
    margin-top: 28px;
}

.about__features--first {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.about__features--second {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.about__features--third {
    border-right: 2px solid #f6edde;
    border-bottom: 2px solid #f6edde;
}

.about__features--fourth {
    border-bottom: 2px solid #f6edde;
}

.about__features--fifth {
    border-right: 2px solid #f6edde;
}

.about__features--sixth {
    border-right: 2px solid #f6edde;
}

.about__features--seventh {
    border-right: 2px solid #f6edde;
}

.cause {
    display: flex;
    justify-content: flex-end;
    background-color: #188274;
    position: relative;
    padding-right: 280px;
}

.cause__title {
    font-family: 'Muli-ExraBold', sans-serif;
    color: #fff;
    font-size: 55px;
    margin: 0px 0px 35px 0px;
    padding: 0px;
    line-height: 60px;
    font-weight: 800;
    position: relative;
    display: inline-block;
    width: 650px;
}

.title--lime {
    color: #cae941;
    font-style: normal;

}


.title--lime::after {
    content: '';
    position: absolute;
    background-image: url(/assets/images/Line.png);
    background-size:100%;
    background-repeat: no-repeat;
    width: 450px;
    height: 10px;
    left: 70px;
    top: 115px;
}

.cause__img {
    margin-top: 65px;
    z-index: 1;
    position: absolute;
    left: 135px;

}

.cause__list {
    align-self: center;
    color: white;
    font-size: 21px;
    line-height: 22px;
    padding-left: 0px;
    margin-top: 30px;
}

.cause__list-item {
    margin-bottom: 25px;
    padding-right: 20px;
}

.cause__list-mark {
    padding-right: 20px;
}


.cause__btn {
    font-family: 'Muli-ExraBold', sans-serif;
    background: transparent;
    border: 2px solid #f8b231;
    font-size: 21px;
    font-weight: bolder;
    width: 380px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 95px;
    margin-top: 20px;
}

.cause__consist {
    justify-content: center;
    width: 590px;
    padding-top: 100px;
}


.products {
    display: flex;
    justify-content: space-between;
}

.products__product {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 0 80px;
}

.products__product--brown {
    background-color: #64281a;
}

.products__product--green {
    background-color: #178a6e;
}

.products__product--yellow {
    background-color: #fab240;
}

.products__product--red {
    background-color: #c4441f;
}

.products__img {
    margin-bottom: 30px;
}

.products__btn {
    font-family: 'Muli-ExraBold', sans-serif;
    background: transparent;
    width: 204px;
    height: 60px;
    align-self: center;
    margin-top: 65px;
    border: 1px solid #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 21px;

}

.products__btn-link {
    display: flex;
    align-items: center;
    font-size: 21px;
    font-weight: bolder;
    color: white;
}

.products-title {
    color: #ffffff;
    text-align: center;
    font-size: 21px;
    font-family: 'Muli-Bold', sans-serif;
    margin-bottom: 16px;
}

.products__measure{
    font-style: italic;
    color:#ffffff;
}


.story {
    display: flex;
    margin-right: 0px;
    padding: 120px 310px 160px 310px;
}

.story__inner {
    display: flex;
    flex-direction: column;
    margin-right: 205px;
}

.story__title {
    font-family: 'Muli-ExraBold', sans-serif;
    font-size: 50px;
    color: #f7ae3b;
    margin: 140px 0 30px;
    padding-left: 0px;
    position: relative;
}

.story__title::after {
    content: url(/assets/images/Stamp.png);
    position: absolute;
    top: -118px;
    right: -330px;
}

.story__text {
    font-family: 'Muli-Regular', sans-serif;
    font-size: 18px;
    line-height: 35px;
    margin: 25px 0px 60px;
    display: inline-block;
    width: 495px;
}

.story__btn {
    width: 300px;
    font-size: 21px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.story__arrow--yellow {
    color: #fab438;
}


.testimonials {
    background-color: #64321a;
    padding-bottom: 80px;
}

.testimonials__inner {
    display: flex;
    justify-content: center;
    margin-top: 75px;
    position: relative;
    z-index: 2;
    margin: 0 0 120px 0;
}

.testimonials__title {
    font-family: 'Muli-ExraBold';
    text-align: center;
    font-size: 50px;
    line-height: 40px;
    color: #f7ae3b;
    margin-top: 0px;
    margin-bottom: 118px;
    padding-top: 115px;
    position: relative;
}

.testimonials__title::after {
    content: url(/assets/images/Dots.png);
    top: -80px;
    right: 60px;
    position: absolute;
}


.testimonials__word {
    color: #f2612d;
    font-style: normal;
}

.testimonials__button {
    display: flex;
    justify-content: center;
}

.testimonials__btn {
    background-color: transparent;
    text-align: center;
    margin-top: 180px;
    padding: 0;
    border-style: none;
    margin: 0 50px;
    cursor: pointer;
}

.testimonials__quote {
    font-family: 'Muli-Regular.woff';
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin: 0px 30px 0px;
}

.testimonials__quote::before {
    content: 'Sarah A';
    position: absolute;
    font-family: 'Muli-ExraBold';
    color: #59200d;
    top: -93px;
    left: 400px;
    font-size: 200px;
    width: 800px;
}

.testimonials__blckq {
    color: #ffffff;
    display: inline-block;
    width: 455px;
    height: 100px;
    font-size: 18px;
    line-height: 25px;
    position: relative;
}

.testimonials__author {
    color: #eda539;
    display: flex;
    justify-content: center;
    margin-top: 0px;
}

.testimonials__img {
    margin: 0px 30px 0px;
    position: relative;
}


.blog {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 95px;
}

.blog__title {
    font-size: 50px;
    color: #f7ae3b;
    line-height: 40px;
    margin-bottom: 25px;
    font-family: "Muli ExtraBold", sans-serif;
    font-weight: "ExtraBold";
}

.blog__img {
    margin-top: 25px;
    position: relative;
    z-index: 1;
    margin-bottom: 200px;
}

.blog__sub-title {
    font-family: 'Muli-ExraBold', sans-serif;
    font-size: 30px;
    line-height: 40px;
    color: #f2612d;
    position: relative;
}

.blog__inner {
    margin: 0 0 53px 60px;
}


.blog__span {
    font-family: 'Muli-Regular.woff';
    font-size: 16px;
    line-height: 35px;
}

.blog__sub-title::before {
    content: url(/assets/images/blog-line.png);
    position: absolute;
    top: -72px;
    left: -100px;
}

.blog__text {
    font-family: 'Muli-Regular.woff';
    font-size: 18px;
    width: 534px;
    line-height: 35px;
    padding-left: 62px;
}

.read_more {
    font-family: 'Muli-ExtraBoldItalic.woff';
    color: black;
    position: relative;
}

.read_more::after {
    content: url(/assets/images/Arrow.png);
    position: absolute;
    left: 100px;
    top: -3px;
}


.instagram__icon {
    margin-bottom: -6px;
}


.instagram {
    text-align: center;
}


.instagram__link {
    color: #0aa566;
    font-size: 24px;
    line-height: 40px;
    margin-bottom: 42px;
    display: inline-block;
    font-family: 'Muli-ExraBold', sans-serif;
}


.instagram__wrapper {
    display: flex;
}


.instagram__img {
    position: relative;
    /* flex: 0 1 20%; */
}

.instagram__img::after{
    content:"";
    background-image:url(/assets/images/Instagram.png);
    height: 25px;
    width: 25px;
    bottom: 20px;
    right: 20px;
    position: absolute;
}


.instagram__pictures {
    width: 100%;
    height: 100%;
}


.footer__inner {
    background-color: #fbae39;
}


.footer__wrap {
    display: flex;
    justify-content: space-between;
    padding: 80px 100px 90px 105px;
    width: 100%;
}

.footer__form{
    width: 496px;
}

.footer__input {
    position: relative;
    width: 495px;
    height: 60px;
    border-radius: 30px;
    padding: 0 50px;
    border-style: none;
    color: #6d450c;
}



.footer__arrow {
    border: 1px solid rgb(197, 11, 11);
    background-color: #f2662f;
}

.footer__letter {
    position: relative;
    right: -17px;
    top: -39px;
}

.footer__logo {
    margin-right: 140px;
    align-self:center;
}

.footer__info {
    margin-right: -75px;
}

.footer__payment {
    width: 276px;
    margin-left:50px;
}


.footer__payment-icon {
    margin-right: 20px;
    margin-bottom: 25px;
}



.footer__title {
    margin-bottom: 35px;
    color: #ffffff;
    font-size: 26px;
    font-family: 'Muli-ExraBold', sans-serif;
    line-height: 40px;
    letter-spacing: -20;
    position: relative;
}

.info__item {
    font-family: 'Muli-Bold', sans-serif;
    margin: 20px 0px;
}

.info__link {
    color: #6d450c;
}

.info__link:hover{
    border-bottom:1px solid #6d450c;
    transition: all 0.5s;

}

.footer__title--brown {
    font-family: 'Muli-ExraBold', sans-serif;
    font-size: 18px;
    position: relative;
    display: inline-block;
    margin-top: 35px;
    margin-left: 150px;
    color: #6d450c;
    position: relative;
}

.footer__title--brown::before {
    content: url(/assets/images/curve-arrow.png);
    position: absolute;
    top: -20px;
    right: 130px;
    color: #6d450c;

}

.footer__socials {
    padding-top: 28px;
    margin-left: 40px;
    color: #ffffff;
}

.footer__wrapper {
    display: flex;
    align-items: center;
    margin-left: 20px;
    margin-top: -27px;
}

.socials__icon--footer {
    background-color: #f9ad3e;
}

.socials__item-foot {
    margin: 0px 12px -7px 0px;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.footer__bottom {
    height: 60px;
    background-color: #6f2d1b;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copy {
    color: #af8a82;
    font-family: "Muli-Regular", sans-serif;
    font-size: 13px;
}

.footer__link {
    color: #ffffff;
    position: fixed;
    width: 50px;
    height: 50px;
    background-color: #f2662f;
    border-radius: 5%;
    bottom: 40px;
    right: 40px;
}

.footer__link::after {
    content: "";
    background-image: url(/assets/images/vertical-arrow.png);
    background-repeat: no-repeat;
    position: absolute;
    bottom: 7px;
    right: 16px;
    width: 16px;
    height: 30px;
}

@media (max-width:1758px){
    .cause{
    padding-right: 115px;
    }
}

@media (max-width:1582px){
    .cause__img{
        height: 700px;
    }
}


@media (max-width:1552px){
    .header__top{
        padding-left: 20px;
        padding-right: 20px;
    }

    .personal__list::after {
    right: 192px;
    }
}

@media (max-width:1480px){
    .cause__img{
        left: 60px;
    }
}

@media (max-width:1410px){
    .cause__img{
        display: none;
    }
    .cause{
        padding-right: 0px;
        justify-content: center;
        }
}

@media (max-width:1398px){
    .socialmedia{
        width: auto;
    }
    .personal__list::after{
        display: none;
    }
    .header__item{
        font-size: 14px;
    }
    .header__top{
        padding-right: 100px;
    }
}

@media (max-width:1330px){
    .header__menu{
        display: none;
    }
    .socialmedia{
        display: none;
    }
    .burger_icon{
        display: block;
    }
}

@media (max-width:1115px){
    .text__about{
        padding: 0 40px;
    }
}

@media (max-width:1072px){
    .about__features{
        grid-template-columns: 1fr 1fr;
        width: 80%;
        height:630px;
        margin-bottom: 70px;
    }
    .about__sub-title{
        margin-bottom: 28px;
        margin-right: 10px;
        margin-left: 10px;
        }
    .about__features--second{
            border-right:none;
        }
        .about__features--sixth{
            border-right:none;
        }
        .about__features--fifth{
            border-bottom:2px solid #f6edde;
        }
        .about__features--sixth{
            border-bottom:2px solid #f6edde;
        }
    }

    @media (max-width:782px){
        .cause__title{
            font-size: 44px;
            text-align: center;
            width: auto;
        }
        .title--lime::after{
            left: 120px;
            width: 340px;

        }
        .cause__btn{
            text-align: center;
            margin: 30px auto 80px;
        }
        .cause__list{
            margin-left:110px;
        }
    }


@media (max-width:767px){
    .about__title{
        font-size: 45px;
        margin-top: 70px;
        max-width: 550px;
        text-align: center;
    }
}

@media (max-width:767px){
    .cause__title{
        width: auto;
    }
}

@media (max-width:700px){
    .cause__title{
        width: 80%;
    }
    .title--lime::after {
        top: 175px;
        left: 65px;
    }

    .cause__consist {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 78px;}
}

@media (max-width:518px){
    .header__btn{
        width: auto;
        padding: 0 20px;
    }
    .header__btn-img{
        margin-left:10px;
    }
    }